section {
    border: 1px solid red;
}

.iphone {
    display: flex;
    align-items: center; /* Alinhamento do eixo principal */
    justify-content: center; /* Alinhamento do eixo transversal */
    gap: 4rem; /* espaçamento entre os elementos do flex*/
    margin-bottom: 1rem;
}

.iphone  img{
    width: 20rem;
}

.iphone p {
    width: 30rem;
    text-align: center;
}

.samsung {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 1rem;
}

.samsung img {
    width: 20rem;
}

.samsung p {
    width: 30rem;
    text-align: center;
}

.formulario {
    padding: 1rem;

    display: flex;
    justify-content: center;
}

.formulario div {
    display: flex;
    flex-direction: column;
}

.formulario form {
    max-width: 30rem;
}